header {
    height: 80px;
    border-bottom: 1px solid rgb(62, 64, 0);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    display: flex;
    align-items: center;


    h1 {
        padding-left: 3%;

    }
}