<div class="home-container">
    <app-header></app-header>

    <div class="content">
        <div class="top-content">
            <h2>Overview</h2>
            <p>Organize suas tarefas</p>
        </div>

        <app-add-task-button></app-add-task-button>
    </div>

    <div class="card-content">
        <app-status-card
        icone="fa-regular fa-hourglass"
        status="Em andamento"
        qtdTasks="15"
        backgroundColor="roxo"
        ></app-status-card>

        <app-status-card
        icone="fa-regular fa-circle-check"
        status="Concluídas"
        qtdTasks="7"
        backgroundColor="verde"
        ></app-status-card>
    </div>

    <hr>

    <div class="tasks-container">
        @for (task of tasks(); track task.id) {
          <app-task
          [taskInput]="task"
          (taskSelected)="handleTaskSelected($event)"
          title={{task.title}}
          description={{task.description}}
          [status]="task.status"
          [createAt]="task.created_at | date: 'dd/MM/yyyy'"
          ></app-task>
        }@empty {
            <p>Loading..</p>
        }
    </div>
</div>
