.task-container {
    width: 280px;
    min-width: 31%;

    max-height: 160px;
    background-color: #fff;
    padding: 8px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    h1 {
        font-size: 1em;
        margin-bottom: 0;
    }

    .description {
        margin: 0;
        color: #4d4d4d;
        width: 300px;
    }

    .date {
        margin: 0;
        font-size: 10px;
        text-align: end;
        color: #828282;
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .pending {
            color: rgb(193, 3, 3);
            background-color: rgb(253, 171, 171);
            width: 79px;
            padding: 2px;
            border-radius: 20px;
        }

        .done {
            color: rgb(1, 109, 1);
            background-color: rgb(211, 253, 211);
            width: 85px;
            padding: 2px;
            border-radius: 20px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            width: 25%;

            button {
                background-color: transparent;
                border: none;

                i {
                    font-size: 1.2em;
                }

                .fa-trash-alt {
                    color: red;
                    transition: color .2s ease-in;

                    &:hover {
                        color: rgb(248, 118, 118);
                        cursor: pointer;
                    }
                }

                .fa-edit {
                    color: rgb(0, 0, 255);
                    transition: color .2s ease-in;

                    &:hover {
                        color: rgb(99, 99, 254);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}